*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*
API_AUTO/tools/__pycache__/
API_AUTO/__pycache__/
fenyong/__pycache__/
fenyong/mysql/__pycache__/
fenyong/tools/__pycache__/
EverydayWechat-master/
fenyong/test_data/__pycache__/
fenyong_online/mysql/__pycache__/
fenyong_online/tools/__pycache__/
fenyong_online/test_data/__pycache__/
fenyong_online/__pycache__/
fenyong_daiwanshang/tools/__pycache__/
fenyong_daiwanshang/test_data/__pycache__/
fenyong_daiwanshang/__pycache__/
*.pyc
AutomationTest-master/
AutoTest_script-Appium_Connect-Windows-Mac-App/
AutoZone-master/
PyAutoTest-master/
apptest-master/
Hobay/Outputs/Allure/html/app.js
Hobay/Outputs/Allure/html/favicon.ico
Hobay/Outputs/Allure/html/index.html
Hobay/Outputs/Allure/html/styles.css
Hobay/Outputs/Allure/html/data/behaviors.csv
Hobay/Outputs/Allure/html/data/behaviors.json
Hobay/Outputs/Allure/html/data/categories.csv
Hobay/Outputs/Allure/html/data/categories.json
Hobay/Outputs/Allure/html/data/packages.json
Hobay/Outputs/Allure/html/data/suites.csv
Hobay/Outputs/Allure/html/data/suites.json
Hobay/Outputs/Allure/html/data/timeline.json
Hobay/Outputs/Allure/html/data/attachments/da252f0a04be656f.txt
Hobay/Outputs/Allure/html/data/test-cases/76f5bf5ce5ac7bfa.json
Hobay/Outputs/Allure/html/export/influxDbData.txt
Hobay/Outputs/Allure/html/export/mail.html
Hobay/Outputs/Allure/html/export/prometheusData.txt
Hobay/Outputs/Allure/html/history/categories-trend.json
Hobay/Outputs/Allure/html/history/duration-trend.json
Hobay/Outputs/Allure/html/history/history.json
Hobay/Outputs/Allure/html/history/history-trend.json
Hobay/Outputs/Allure/html/history/retry-trend.json
Hobay/Outputs/Allure/html/plugins/behaviors/index.js
Hobay/Outputs/Allure/html/plugins/packages/index.js
Hobay/Outputs/Allure/html/plugins/screen-diff/index.js
Hobay/Outputs/Allure/html/plugins/screen-diff/styles.css
Hobay/Outputs/Allure/html/widgets/behaviors.json
Hobay/Outputs/Allure/html/widgets/categories.json
Hobay/Outputs/Allure/html/widgets/categories-trend.json
Hobay/Outputs/Allure/html/widgets/duration.json
Hobay/Outputs/Allure/html/widgets/duration-trend.json
Hobay/Outputs/Allure/html/widgets/environment.json
Hobay/Outputs/Allure/html/widgets/executors.json
Hobay/Outputs/Allure/html/widgets/history-trend.json
Hobay/Outputs/Allure/html/widgets/launch.json
Hobay/Outputs/Allure/html/widgets/retry-trend.json
Hobay/Outputs/Allure/html/widgets/severity.json
Hobay/Outputs/Allure/html/widgets/status-chart.json
Hobay/Outputs/Allure/html/widgets/suites.json
Hobay/Outputs/Allure/html/widgets/summary.json
Hobay/Outputs/Allure/result/745a4882-27c8-4895-ac75-9286c4c2b0ec-attachment.txt
Hobay/Outputs/Allure/result/93f61588-b064-4003-acb9-1fa6e64cebb7-container.json
Hobay/Outputs/Allure/result/9d48b383-5f46-420e-a031-ce430a712de6-result.json
Hobay/Outputs/Allure/html/data/attachments/
Hobay/Outputs/Allure/html/data/test-cases/
Hobay/Outputs/Allure/result/07942c45-c27d-4091-880a-2792c2cb0681-result.json
Hobay/Outputs/Allure/result/0798aecb-e970-41ed-a35f-694244286fa5-container.json
Hobay/Outputs/Allure/result/0b954338-0319-45c0-8e9d-4a7168be804e-container.json
Hobay/Outputs/Allure/result/189d2e5c-e9bb-40e9-8fc7-4d08ec9b849e-attachment.txt
Hobay/Outputs/Allure/result/274610f0-009a-4b3b-9ec0-c30a5c583372-attachment.txt
Hobay/Outputs/Allure/result/30ed23e6-7039-42d3-92ec-9be20f435487-result.json
Hobay/Outputs/Allure/result/4828b5ff-dd52-44e2-b88f-b33fe2f6f77a-container.json
Hobay/Outputs/Allure/result/6d0bb464-9de6-48ea-bb0e-53afa6152d89-result.json
Hobay/Outputs/Allure/result/841657f0-bf77-4ca3-9c94-89dc21c36970-result.json
Hobay/Outputs/Allure/result/9f2e15e2-66fc-4e1e-8d47-1641e341e438-result.json
Hobay/Outputs/Allure/result/b7378c89-2d04-4c67-b69e-d2a96799f3ab-attachment.txt
Hobay/Outputs/Allure/result/bde1ede7-17ab-47cc-8c48-4f7512e14990-container.json
Hobay/Outputs/Allure/result/c6c96e1d-a509-4ae8-914c-d15b097d6306-attachment.txt
Hobay/Outputs/Allure/result/d6bfb29e-032a-4d78-86d1-015c31ebafcb-attachment.txt
Hobay/Outputs/Allure/result/e61733d0-d372-4cad-b7af-69426a202b59-container.json
